<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center">
  <h1>
    Bienvenue dans {{ title }}!
    <!-- {{  interpolation sur title : injection du texte à cet endroit -->
  </h1>
</div>
<nav>
    <!-- Affichage des liens vers les routes -->
    <a routerLink="/zoo">Administration du Zoo</a>
    <a routerLink="/zoo">Liste des animaux</a>
  </nav>

<!-- Déclaration d un routeur de pages -> déclaration des routes dans l'app.module.ts -->
<router-outlet></router-outlet>

<div>
<h2>Les liens: </h2>
  <ul>
    <li>
      <h2>
        <a target="_blank" rel="noopener" href="https://angular.io/tutorial">Tour of Heroes</a>
      </h2>
    </li>
    <li>
      <h2>
        <a target="_blank" rel="noopener" href="https://github.com/angular/angular-cli/wiki">CLI Documentation</a>
      </h2>
    </li>
    <li>
      <h2>
        <a target="_blank" rel="noopener" href="https://blog.angular.io/">Angular blog</a>
      </h2>
    </li>
  </ul>
</div>

